body {
    background-image: url('https://github.com/terzi-vladislav/UTBM_site/blob/master/Assets/back.jpg?raw=true');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    background-position-x: center;
    background-position-y: center;
    display: flex;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    margin: 0;
}

.download {
    font-size: 42px;
    color: white;
}

.mac_logo {
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url('https://github.com/terzi-vladislav/UTBM_site/blob/master/Assets/mac_logo.png?raw=true');
}

.win_logo {
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url('https://github.com/terzi-vladislav/UTBM_site/blob/master/Assets/win_logo.png?raw=true');
}